<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- 普通日志 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p - %c: %m%n" />
        </Console>


    </Appenders>

    <Loggers>
        <Logger name="cn.fh.security" level="debug">
        </Logger>

        <!-- 3rdparty Loggers -->
        <Logger name="org.springframework.core" level="info">
        </Logger>

        <Logger name="org.springframework.beans" level="info">
        </Logger>

        <Logger name="org.springframework.context" level="info">
        </Logger>

        <Logger name="org.springframework.web" level="info">
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>

    </Loggers>



</Configuration>
